[2015-05-22 14:54] kardianos opened #1 "Structure, Sequence, and Organization - Licenses"
It isn't typical to prefix packages with "lib" in "libstring". Of note, go packages tend to be much larger than Java classes. All the sub packages you wrote would probably be better in the primary package.

Your vendoring of a juju rate limit is fine, but the license mixture may not be. You need to either write your own rate limit package or note that part of your package uses a LGPLv3 with except

[2015-05-22 16:02] didip commented on #1
Oh, good point on the LGPLv3 license. I will reach out to the author and figure this out.

[2015-05-22 19:03] mjq opened #2 "Rate limiting by IP can be defeated using headers"
It looks like this library always uses the IP given in the `X-Real-IP` or `X-Forwarded-For` request headers if provided. Unless the Go server is behind e.g. a load balancer that scrubs these headers, a user can mask their own IP (and potentially get around rate limits) just by changing these headers.

Library users should be able to specify whether they trust those header values (because they know

[2015-05-22 20:47] didip commented on #2
Ah, good point! spoofing is bad.

[2015-05-23 13:58] didip commented on #1
Looks like outside projects linking to `github.com/juju/ratelimit` is covered under *Combined Work*.
Specifically, permission to link library is defined [here](https://github.com/juju/ratelimit/blob/master/LICENSE#L9).

[2015-05-23 13:58] #1 closed

[2015-05-23 14:31] pyros2097 opened #3 "Using with Gin?"
Any ideas on how to use this as a middleware in [Gin](https://github.com/gin-gonic/gin)?
And can this used to prevent DDOS based on IP address?

[2015-05-23 15:13] didip commented on #3
On IP address: Yes, by default the limiter limits by remote ip address and request's path.
On Gin Gonic: Give me some time to look at how it handles middleware.

[2015-05-23 16:03] didip commented on #3
Gin middleware is now supported: https://github.com/didip/tollbooth/tree/master/third_party/tollbooth_gin

[2015-05-23 16:03] #3 closed

[2015-05-23 16:33] #2 closed

[2015-05-26 09:57] conc opened #5 "about get real ip from http.Request"
如果用户自己在http header中添加"X-Real-IP"，这里获取到的ip也就不是真的ip了，这样对ip的限制会不会有问题了。
我自己也遇到了这样的问题，因此在这里提出来问一下。

[2015-05-26 13:01] xyproto commented on #5
Poor translation, with Google Translate:

[2015-05-26 14:37] xyproto opened #6 "Data race at `github.com/didip/tollbooth/config.(*Limiter).LimitReached()`"
I'm using tollbooth in Algernon, but tollbooth doesn't seem to be thread safe. This is the output I get:

[code]

Steps to reproduce:
* Build [Algernon](https://github.com/xyproto/algernon) with `go build -race`.
* Run Algernon like this: `./algernon -e`.
* Visit [http://localhost:3000/samples/react/tutorial1/](http://localhost:3000/samples/react/tutorial1/) in your browser.
* The data race warnin

[2015-05-26 15:02] didip commented on #6
Ugh, that's a problem. Thanks for reporting!

[2015-05-26 15:36] #6 closed

[2015-05-26 15:41] didip commented on #5
@conc I'll do my best to guess :)
I think you are asking if user defines `X-Real-IP`, is it going to be a problem?

It won't be, just defined the order on how you want to look up IP. Example:
[code]

[2015-05-26 21:11] xyproto commented on #6
It works now! Thanks for fixing.

[2015-05-27 01:20] conc commented on #5
@didip oh，thanks。I will have a try.
@xyproto sory,my english is poor,so I use chinese instead.It seems that Google Translate is very exact。

[2015-05-28 23:06] #5 closed

[2015-06-16 20:22] ansel1 opened #7 "http: multiple response.WriteHeader calls"
Using the LimitHandler() function, once limiting occurs, you see error messages from the http library.  It's issue is that in tollbooth.go:145, you call w.Write(), followed by w.WriteHeader.  I think you need to call WriteHeader first.   You can't write the headers after writing the body.

[2015-06-17 21:57] #7 closed

[2015-08-25 11:41] Maksadbek opened #8 "Limit requests by Header field and ignore IP address."
I want that the server limited requests only by Token key that it generates on successful login.
But it is still using IP address.

[code]

When users successfully logins, their token is added into Limiter.Headers["X-Access-Token"]
[code]

[2015-09-02 09:01] Maksadbek commented on #8
Solved this by using ```tollbooth.LimitByKeys()``` inside the handler function

[code]

[code]

[2015-09-02 09:01] #8 closed

[2015-12-14 20:29] kitwalker12 opened #11 "Can this be used as a go-restful filter"
Planning to use it with [go-restful](https://github.com/emicklei/go-restful)
Go-restful has Filters that can be attached to request handlers like [this](https://github.com/emicklei/go-restful/blob/master/examples/restful-basic-authentication.go)

I was wondering if a true/false value could be returned using the limiter struct

[2016-03-22 03:18] didip commented on #11
Sorry for the belated reply, somehow I didn't get a message on this PR.
Thank you for the contribution!

[2016-03-22 03:18] #11 closed

[2016-03-30 02:09] xwb1989 opened #13 "bug or feature?"
Here:

https://github.com/didip/tollbooth/blob/master/config/config_test.go#L32

Is this "off by 1" a bug not fixed yet or an intentional "feature"?

[2016-03-30 05:33] didip commented on #13
That logic is actually handled by `github.com/juju/ratelimit` library. See: https://github.com/juju/ratelimit/blob/master/ratelimit.go#L205

I haven't been able to spend more time digging through it, unfortunately.

[2016-03-31 06:32] #13 closed

[2016-07-10 15:41] cd1 opened #15 "Set response headers "X-Rate-Limit-*""
There are some response headers which are useful to indicate the current context of rate limiting, for example:

[code]

More details here: https://www.fullcontact.com/developer/docs/rate-limits/

It would be nice to have those headers set by tollbooth as well.

[2016-07-28 08:53] VadimBelov opened #17 "Only 1 token returned after duration"
In scenario of 30 permitted requests per second I'm using "tollbooth.NewLimiter(30, time.Second)".

Reproduction steps:
1. Send 50 requests during 1 second
2. 30 requests are processed, 20 are thrown away because of (configured) throttling - correct
3. After 1 second send another 30 requests
4. Only 1 request is processed, 29 are thrown away, instead of being processed
You may repeat steps 3 and 4

[2016-07-29 15:42] didip commented on #17
Merged

[2016-07-29 15:42] #17 closed

[2016-07-29 16:06] didip commented on #15
@cd1 I've added

[code]

but unfortunately, `X-Rate-Limit-Remaining` and `X-Rate-Limit-Reset` is not possible because `juju/ratelimit` does not expose those as public variables.

[2016-08-05 19:15] #15 closed

[2016-08-31 05:02] sanathp opened #20 "can this library be used in production?"
can this library be used in production?
Have you done any benchmark testing ?
is there any limit how many requests per second this can handle without causing much latency ?

[2016-08-31 17:14] didip commented on #20
Yes, I have used this library on two services in prod.

The breaking points of this library is benchmarked here: https://github.com/didip/tollbooth/blob/master/tollbooth_benchmark_test.go. You can run it on your own hardware to have a better feel.

The actual rate limit logic is handled by an external library: github.com/juju/ratelimit. That library is used by Ubuntu's Juju project. Which is a fai

[2016-08-31 17:22] didip opened #21 "Should we move to govendor?"
Now that `/vendor` directory is stabilized, `godep` seems unnecessary.

[2016-08-31 21:45] sanathp commented on #20
Thanks for the response

[2016-08-31 21:45] #20 closed

[2016-09-05 20:02] didip commented on #21
Fixed here: https://github.com/didip/tollbooth/commit/3c82d92ebe4fd84faf80a8837abf6126aa054b15

[2016-09-05 20:02] #21 closed

[2016-09-15 16:21] jamisonhyatt opened #22 "Unit Testing LimitHandler"
I don't use your included LimitHandler, and wrote my own handler for various reasons.  Both work just fine when the api is serving normally, however I'm unable to trigger the rate limiting when using a unit test.

I wrote a unit test for your LimitHandler that I believe should pass, but it's not triggering tollbooth and is failing.  Any chance you can take a look?

[code]

[2016-10-07 16:38] yanfali opened #23 "juju/ratelimit is LGPL"
Firstly, great middleware, but I'm wondering if there are implications with the underlying implementations violating section 4 of the LGPL? Your library is MIT, but the juju implementation is LGPL and because go is statically linked we appear to be in violation for commercially shipped rather than open source projects.

IANAL but I was wondering if you've had any thoughts on this. Thanks.

[2016-10-07 16:56] yanfali commented on #23
As a feasibility check, I patched in golang.org/x/time/rate to see how compatible they were and it seems like a very doable patch

[code]

[2016-10-07 16:58] yanfali commented on #23
If you like I can try and work up a patch that allows build time selection of the implementation.

[2016-10-20 20:40] yanfali commented on #23
Hi @didip did you get a chance to think about this?

[2016-10-21 00:01] didip commented on #23
Sorry, work has been busy recently. The patch looks good at a glance.

Are all the tests passing? If yes, then I am down merging this.

[2016-10-21 04:54] didip commented on #23
Looks like the behavior is the same, if so, and tests are passing, then I am ok to simply use the golang.org library and abandon juju's.

No need to support both.

[2016-10-21 04:56] yanfali commented on #23
Thanks pr #24

[2016-10-21 04:58] #23 closed

[2016-10-21 05:00] didip commented on #23
Merged, thank you for your contribution. FYI, you may want to pull, I fixed the root path on `vendor.json`

[2016-10-21 05:01] yanfali commented on #23
Thank you for accepting the patch. I will rebase my fork against master again. Thanks again!

[2016-10-21 05:25] didip commented on #23
Sorry for keep talking on closed ticket. As a side effect, it looks like the `golang.org` library is faster.

### Before:

[code]

### After
[code]

[2016-10-21 06:04] #22 closed

[2016-10-21 06:06] didip commented on #22
Fixed. 2 problems:

1. `request.Header` did not contain IP address.

2. Each recording took almost 1 second, so the second one always pass. To pass the test, I run the first one in goroutine.

[2016-10-21 07:22] yanfali commented on #23
Oh that's awesome. My primary concern was the license, this is just gravy. :+1:

[2016-10-25 18:24] yanfali commented on #23
They do. I have a fork. I'll send you a PR. Thanks.

On Thu, Oct 20, 2016, 17:01 Didip Kerabat <notifications@github.com> wrote:

[2017-01-17 15:51] msaron opened #25 "How to use with chi router"
Can you provide an example on how to use tollbooth with the [chi](https://github.com/pressly/chi) router? The example can be put in the thirdparty section. I believe at the current time that chi is the most powerful router as it uses golang's context very effectively.

[2017-01-31 23:54] didip commented on #25
Great idea. Done!

See: https://github.com/didip/tollbooth/tree/master/thirdparty/tollbooth_chi

[2017-01-31 23:54] #25 closed

[2017-02-10 23:04] msaron opened #27 "Is it possible to use tollbooth to limit memory usage?"
Is it possible to use tollbooth to limit total memory usage by my Go program? I would like to specify the maximum total memory that my go web application can use, such as, say 8GB, and if the memory has reach this limit, to not process the request. Thanks.

[2017-02-12 17:58] didip commented on #27
I propose that you are using a different tool for this. Memory growth can be a symptom of more serious things (beyond request handling). Example of these kind of tools:

* If you are using systemd to daemonize your Go program, you can actually configure maximum RAM consumed. When max RAM is exceeded, systemd will restart your app.

* The same effect can be achieved with Supervisord+Superlance plug

[2017-02-12 19:48] msaron commented on #27
I was thinking more in terms of when there is a spike in the number of requests coming in. For example, if the memory specified is 4GB and the app sees that the 4GB limit has been reached, it should stop receiving any more requests and return a Server Not Available or something until the memory usage goes below 4GB. If we use systemd or something similar, they will kill all the current running req

[2017-02-14 02:30] didip commented on #27
This is kind of intriguing...

From which should tollbooth get the memory information? My first hunch is to pull it from `runtime` package, like this:

[code]

[2017-02-14 15:33] msaron commented on #27
There is one library out there called [oom](https://github.com/goware/oom) that solves this issue in a limited way. But it does not allow to restrict memory usage by RSS size to the server as a whole and to each request. In addition they do not have an implementation for Windows. They list the following reasons for limiting memory size:

- leaky GCO libs
- spiky load or memory use
- thundering her

[2017-02-14 18:23] didip commented on #27
I see...

Let me think + play around a bit. Reading from `/proc/meminfo` makes it OS dependent, I prefer to have a pure Go implementation for cross-platform support.

[2017-03-02 08:23] rogierlommers opened #28 "Limit x amount of requests in parallel"
Can we use tollbooth to restrict the amount of accepted requests in parallel? The examples in the docs all make use of time (f.e. one req/sec), ipaddress, etc. Basically what I want is a way to handle my (mux) handlers only 2 at once.

[2017-03-03 10:11] janekolszak opened #30 "Cleanup tokenBuckets"
Hi,
I was just browsing the code and have one question:

Shouldn't tokenBuckets map in Limiter be cleaned up from old limiters from time to time?

[2017-03-10 00:35] didip commented on #30
Great question. That is totally not handled at the moment.

Question for you, how can the middleware knows which limiters are old?

[2017-03-11 08:31] janekolszak commented on #30
Maybe a configurable timeout?

[2017-04-05 12:39] jack-chung opened #32 "Memory usage of tollbooth in production"
Hi,

Is there any guidance on amount of memory needed to use tollboth in a public facing high traffic site?
Also, any guidance on applying tollbooth across all web nodes instead of per machine?

Thanks!

[2017-04-05 12:55] jack-chung commented on #32
It doesn't look like config.tokenBuckets is ever cleaned up or am I missing something?

[2017-04-27 13:22] gravis opened #33 "Trigger function when rate limit is hit"
I would like to be able to log the IPs hitting the rate limit.
This could be easily done by adding a callback `func(r *http.Request)` in the limiter, and invoked  somewhere around:
https://github.com/didip/tollbooth/blob/master/tollbooth.go#L39

What do you think?

[2017-05-04 12:17] nicola-spb commented on #30
Will be memory leak?

[2017-05-14 10:15] janekolszak commented on #30
Yes, it will leak.

[2017-05-14 19:20] nicola-spb commented on #30
@janekolszak Thanks!

[2017-06-05 04:25] #30 closed

[2017-06-05 04:27] didip commented on #30
User is now able to create an expire-able token buckets. See: https://github.com/didip/tollbooth/commit/7f43cd6b1c8e9b17da767ff14f391bb6499d63be

[2017-06-05 04:28] didip commented on #32
Yes, this was a long standing bug. With this commit: https://github.com/didip/tollbooth/commit/7f43cd6b1c8e9b17da767ff14f391bb6499d63be, you are now able to create a limiter with expire-able token bucket.

[2017-06-05 04:28] #32 closed

[2017-06-05 04:41] didip commented on #28
The library should have no problem handling parallel requests. You could achieve what you want by setting limit: 2/seconds or 2/milliseconds (depending on your traffic).

[2017-06-05 04:43] didip commented on #33
Yeah, this sounds like a good idea. As you suggested, you can create a public field called OnLimitReached, and assigned that during limiter creation.

Would you like to send PR? :)

[2017-06-26 16:21] frasergraham opened #36 "Limiting more than configured"
I'm wondering if i've configured tollbooth incorrectly because i'm seeing it limit my requests much more aggressively than I would like.

My limiter is simple...

    	s.globalLimiter = tollbooth.NewLimiter(rateLimitGlobal, time.Second)

where rateLimitGlobal is 300, and then as a wrapper around my HandleFunc...

	if err := tollbooth.LimitByRequest(s.globalLimiter, req); err != nil {
		compute.Han

[2017-06-26 21:06] frasergraham commented on #36
On looking at the rate package directly, it seems these values are not what I expected and the first number is just the bucket size, and the second value is the only one that matters for limiting a continuous high load.

[2017-07-19 15:41] HildoBijl opened #37 "Dependency on outdated external repo"
In the file `thirdparty/tollbooth_fasthttp/test/main.go` there is a dependency on `github.com/magicwrighter/tollbooth/thirdparty/tollbooth_fasthttp`, but this file does not exist anymore in that repo. It would be great if this dependency can be removed.

[2017-07-21 17:56] #37 closed

[2017-07-21 20:17] SCKelemen commented on #36
@frasergraham  Is this issue resolved, and can we close it?

[2017-07-21 20:21] #36 closed

[2017-08-09 00:03] richardartoul opened #43 "Ratelimit by user-identifier"
Hello!

First off, nice library :)

I'm looking through the code and wondering if tollbooth supports the use-case I'm looking for. All of my users have an API key which they pass in a header, and I want to ratelimit them by that key. However, I don't want to pre-fetch all possible API keys from my database and pre-populated the tollbooth limiter. I want the limiter to just ratelimit based on whate

[2017-08-23 18:49] rv-rsouza opened #44 "SemVem releases"
Please, consider tagging your releases using (SemVer)[http://semver.org].

All dependency/package managers use the version number to "lock" dependencies.

This will be a great improvement.

`git tag v1.0.0 -m "first release" && git push --follow-tags`

Thanks!

[2017-09-04 08:31] rvdwijngaard commented on #43
this is exactly what I need

[2017-09-04 23:41] didip commented on #43
The tricky part about this feature is that middleware is loaded once on-boot when HTTP routes are defined the 1st time.

To support this, the library needs to provide a channel for updating `Headers` in a thread-safe way. It's doable, but it will require refactoring quite a bit. And once `Headers` behaves this way, other attributes will have to behave this way as well (for consistency).

Unfortuna

[2017-09-04 23:44] #28 closed

[2017-09-04 23:45] didip commented on #33
I believe this PR satisfy this ticket needs: https://github.com/didip/tollbooth/pull/42

[2017-09-04 23:45] #33 closed

[2017-09-05 00:21] didip commented on #44
Done. See: https://github.com/didip/tollbooth/tree/v1.0.0

[2017-09-05 00:21] #44 closed

[2017-09-05 12:52] rv-rsouza commented on #44
Thank you very much!

[2017-09-06 05:34] didip commented on #43
`v2.0.0` is now able to support your use-case.

All of Tollbooth variables are now thread-safe. You can do this every time your app sees a new api token:

[code]

Note that I haven't come up with a clean way to automatically expires these header entries. It's up to you to automatically clean them.

Hope it helps.

[2017-09-06 09:10] chaehni opened #45 "Get IP address in Reject Function"
Is it possible to get the IP address of the blocked request in the reject function for logging?

[2017-09-06 14:30] didip commented on #45
I think the blocked IP could be easily added to HTTP response header.

[2017-09-06 15:32] didip commented on #45
The rejected request IP addresses are now recorded in response HTTP header.

See: `X-Rate-Limit-Request-Forwarded-For` and `X-Rate-Limit-Request-Remote-Addr`

[2017-09-06 15:32] #45 closed

[2017-09-06 15:33] #43 closed

[2017-09-10 03:46] didip commented on #27
I decided to not implement this, I still feel this is out-of-scope of the library.

[2017-09-10 03:46] #27 closed

[2017-09-14 15:53] josephzidell commented on #3
To update this, the new URL is: https://github.com/didip/tollbooth_gin

[2017-09-14 15:56] josephzidell opened #46 "Additional headers"
Hey!

Would it be possible to have access to data for additional headers:

- `X-Rate-Limit-Remaining` The number of remaining requests in the current period
- `X-Rate-Limit-Reset` The number of seconds left in the current period

This will help my users

[2017-09-14 15:56] josephzidell commented on #46
OpenAPI reference: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#headers-object-example

[2017-09-14 16:37] didip commented on #46
Yes, I really wish that Tollbooth can support this. But unfortunately, the low level rate limiter: https://godoc.org/golang.org/x/time/rate could not give everything we want.

[2017-09-15 14:37] tpoxa opened #47 "Limit by GET or POST parameters"
Can I limit by certain GET or POST parameters?

Thanks in advance

[2017-09-16 19:00] didip commented on #47
This does not work for you? `lmt.SetMethods([]string{"GET", "POST"})`

[2017-10-09 17:07] tylerb opened #48 "Limiter doesn't behave as documentation describes"
Greetings!

I am seeing some odd behavior with how the limiter limits requests.

We are constructing a limiter like this:

[code]

My understanding of this, based on the documentation and code, is that the limiter will now allow a maximum of 20 requests per second, per path, per IP. If a client attempts to exceed 20 req/sec/path/IP, it will receive a 429 response.

However, this is not what we are

[2017-10-14 02:37] #46 closed

[2017-10-14 02:37] #47 closed

[2017-10-14 02:38] didip commented on #48
Your expectation is correct, there has to be a bug here. Let me take a look.

[2017-10-14 02:45] tylerb commented on #48
Excellent. Thank you! Please let me know if I can be of assistance.

[2017-10-14 04:35] didip commented on #48
@tylerb Can I see an example on how you use it on your HTTP router?

[2017-10-14 04:56] didip commented on #48
I have written a test case for what I think describes your problem, but the test is passing.

Can you check if it correctly represents your problem? https://github.com/didip/tollbooth/blob/master/tollbooth_bug_report_test.go

[2017-10-14 08:02] devkr opened #50 "Making path optional"
Hi, it seems like we can't disable path being part of the key. This makes the limiter ineffective against bots that crawl and constantly hit different paths. Would it be possible to make path optional through the configuration?

[2017-10-15 01:57] devkr commented on #50
Actually I was able to accomplish a similar effect using LimitByKeys and supplying only the source IP or user agent for bots manually. So please disregard.

[2017-10-15 01:57] #50 closed

[2017-10-17 16:26] tylerb commented on #48
@didip thanks for that. It does not correctly represent my problem. I will take your test case and see if I can make it fail in the way I am seeing. Thanks for writing it!

[2017-10-17 16:58] tylerb commented on #48
@didip I've managed to write a test case that reliably reproduces my issue.

[code]

Here's the code:

[code]

[2017-10-18 05:27] didip commented on #48
Looks like https://godoc.org/golang.org/x/time/rate#Limiter.AllowN suddenly return false. I don't know what cause it to behave like that yet. See: https://github.com/didip/tollbooth/blob/master/limiter/limiter.go#L462

[2017-10-18 06:13] tylerb commented on #48
I think you may be using the token bucket incorrectly.

According to my reading of the documentation, the bucket refills at a rate of `r` tokens per second, which is the first argument to the constructor. The second argument is the max burst size.

It appears you are passing the TTL (1 in my case) to the `r` argument, meaning the bucket is only being refilled at 1 token per second.

I believe if y

[2017-10-21 20:51] didip commented on #48
Oh wow, you are indeed correct. Thank you for catching this!

[2017-10-21 20:52] #48 closed

[2017-11-03 11:29] zwopir opened #53 "limitReachedWithTokenBucketTTL probably useless with x/time/rate burst == 1"
since #52 the private function `func (l *Limiter) limitReachedWithTokenBucketTTL(key string, tokenBucketTTL time.Duration) bool` and thus the tokenBucketTTL functionality doesn't make sense anymore:
The burst parameter `b` in x/time/rate `NewLimiter` is used as max burst *and* initial bucket size (see comment in https://godoc.org/golang.org/x/time/rate#Limiter and https://github.com/golang/time/bl

[2017-11-08 17:18] davis12529 commented on #53
Yes #52 introduced another (more serious) bug with rate limiting behaviour.

Burst size, b should not be 1 at https://github.com/didip/tollbooth/blob/170b8fa2ab876c0a9999fa8422fcdd32a0b213c4/limiter/limiter.go#L432.

I think it was set to 1 assuming that each call to `Allow()` will only consume 1 token (at time.Now()).

However I find that this is not the case. In my quick test where m config is `

[2017-11-08 17:28] zwopir commented on #53
not exacly: the burst rate `b` in  the `rate.NewLimiter` constructor is used as
 - burst rate
 - initial bucket size
For the burst rate, using b=1 is ok, as the call to `Allow()` happens atomically to check if the current request can be performed. If you want to support a "bursty" request profile, you can do this by creating a newly filled bucket every ttl seconds.

You get 1x200 plus 4x429 becaus

[2017-11-08 18:10] tylerb commented on #53
@zwopir I am not sure I entirely understand the issue you are seeing. Am I correct in thinking that the issue you're seeing only occurs in the event of a bucket expiring and being recreated?

To be honest, I'm not entirely sure what the point of the tokenBucketTTL is in the first place. What problem is it trying to solve? More specifically, @zwopir, what problem are you trying to solve by using it

[2017-11-08 19:21] davis12529 commented on #53
Thank you @zwopir @tylerb for clarification. I get it now. I went back and increased `r` until a concurrent connections of 2 by `ab` did not trigger the limit. I take my word back on `b` should not be 1 (assuming no support for burst)

I guess for the config`tollbooth.NewLimiter(500, nil)`, 500 req/sec is actually 500/1e^9 req/nanosecond.

I am actually new to rate limiting, hence I thought the un

[2017-11-09 09:43] zwopir commented on #53
@tylerb my issue is that we were using buckets with a ttl and an initial bucket fill to support a request rate distribution that is very spiky. That was supported "accidently" before correcting the usage of `rate.NewLimiter` to `b=1`. If the initial bucket size is reduced to 1, it doesn't make sense to recreate the limiter every ttl seconds, because

I think the point of tokenBucketTTL at first pl

[2017-11-09 14:36] rebootcode opened #54 "Changing rate limit based on minute or hour."
After reading these 2 issues #48 and #51 , I could not understand, how can someone limit the request based on minute or hour.

Is there any hack available, where I can set  **10 requests per minute** and **not 10 requests per second**

Current support is only for second, but to me second does not makes sense.

[2017-11-09 17:02] didip commented on #54
Just multiply it by 60 to get per minute limit.

[2017-11-09 17:04] didip commented on #53
Sorry that I have not been active in the convo, work has been really busy recently.

I will try to take a look at these issues this weekend. But looks like there’s good conversations going.

[2017-11-09 18:51] tylerb commented on #53
@davis12529 thanks for the discussion. It's been very helpful.

@zwopir to be honest, it kind of feels like the TTL for the limiter was added as a band-aid over the issue fixed in #52. I don't see any reason to reset the limiter using a TTL at all. The previous functionality would define a bucket of size `n` and then refill it as a rate of `tokenTTL` every second.

For example, I was doing `20,1`,

[2017-11-09 18:57] zwopir commented on #53
not exactly: we never use `AllowN`, only `Allow()` in tollbooth. So the x/time/burst library never sees a burst.

[2017-11-09 20:47] tylerb commented on #53
@zwopir agreed that we never use `AllowN`. However, `AllowN` basically says "can I get `N` tokens at this particular nanosecond?"

As such, multiple requests that are nanoseconds apart effectively act like a "burst". That was an issue I had to fix in the tests when I submitted my PR. Of course, my understanding of it could be incorrect. I do see that the burst value is used for checking if the `n`

[2017-11-09 22:34] rebootcode commented on #54
What do you multiply? Can you please share code. Is this how you do ,

[code]

but doesn't that mean - **60 request per seond** and not **1 request per minute**

[2017-11-10 08:52] davis12529 commented on #54
@rebootcode Since `max` argument for `tollbooth.NewLimiter` is int64, the lowest you can go is **1 request per second** i.e. **60 request per minute**, as discussed [here](https://github.com/didip/tollbooth/pull/52#issuecomment-343015102). If you urgently need to set lower than **60 request per minute**, you have to fork it and modify the `max` argument to your needs.

[2017-11-13 02:45] didip commented on #53
I think I see what @zwopir is confused about.

`TokenBucketExpirationTTL` has nothing to do with the actual rate-limiter feature (I know, this project has multiple TTLs, confusing people).

Each rate-limiter is actually a key-value pair, so I keep track of them in a hashmap. In the past, some users complained that the hashmap keep growing unbounded.

So, in `v2.x.x`, expirable hashmap is used.

On

[2017-11-13 02:57] didip commented on #54
@rebootcode I see what you want to do... @davis12529  is correct, we are limited to what https://godoc.org/golang.org/x/time/rate can do, and it limits on per second basis.

[2017-11-13 13:50] zwopir commented on #53
so the expiring hashmap was only meant to prevent the map from growing unboundedly?

It had the side effect, that every ttl seconds the bucket was refilled and thus granted a few requests over the configured rate every time the bucket was recreated in the expiring map. So with expiring buckets and an initial bucket size `b>1` (pre #52) it was possible to support "bursty" requests.

Would it make s

[2017-11-13 17:09] tylerb commented on #53
THAT makes sense. I hadn't even considered that. So it's to make sure we clean up after ourselves and don't leave limiters just hanging around. That makes a lot more sense. Using it as a some kind of "reset" for the bucket seemed very odd to me. I still feel like configurable burst size would allow for handling of bursty requests. If you're resetting the bucket all the time anyway, I'm not sure wh

[2017-11-13 17:44] zwopir commented on #53
guys, you are right. I though that multiple fast consecutive calls to the `Allow()` function don't form a "proper" burst. But they do (just tested with a few simple lines).

So simply passing a burst rate parameter would perfectly fit the burst use case.

[2017-11-13 17:58] didip commented on #53
@zwopir Correct, the expiring hashmap was only meant to prevent the map from growing unboundedly.

@zwopir @tylerb I think having a configurable burst size is a good idea, won't be too hard to implement and we can set the default to 1 so that it is backward compatible with `v3.x.x`.

[2017-11-13 17:59] zwopir commented on #53
great, thanks for clarification. I just cloned your project to provide a PR

[2017-11-13 18:01] tylerb commented on #53
@didip Having the burst size at 1, currently, is incorrect and leads to unexpected behavior. I hadn't considered all the implications of setting it to 1. There is a lot of previous discussion around this.

I strongly feel that we should set burst to the number of requests per second, by default, and allow it to be configured after that if necessary.

[2017-11-13 18:03] didip commented on #53
@tylerb I see. I seemed to remember that older version of Tollbooth used max requests as burst size in the past. I am surprised that all tests still passed.

@zwopir Thanks! Just create a setter & getter with a lock (just like other properties). See @tylerb comment above, could you set the default to be the `GetMax()` value?

[2017-11-13 18:04] zwopir commented on #53
yes, will do

[2017-11-13 18:05] didip commented on #53
@zwopir If you could ensure that `go test ./...` still works, that would be super appreciated.

[2017-11-13 18:06] tylerb commented on #53
@didip having the max requests as the burst size caused it to behave nicely for the first round of requests, but then it would fail as the refill rate was far lower than expected. I had to update some of the tests to account for the burst size being set to 1.

[2017-11-13 18:09] didip commented on #53
@tylerb Gotcha. Who would have thought that there are so many corner cases for a supposedly simple project. :)

[2017-11-13 18:10] didip commented on #53
@zwopir If tests failed, they may have to be updated to `SetBurstSize(1)` since @tylerb was specifically testing for burst size == 1.

[2017-11-13 18:13] zwopir commented on #53
ok.

the burst rate `b`in golang.org/x/time/rate is an int, while `max` is an int64. What type conversion would you propose?

[2017-11-13 18:15] didip commented on #53
@zwopir Just down cast it :) `int(GetMax())`

[2017-11-13 18:16] zwopir commented on #53
yes, if you have burst sizes exceeding `int`s you screwed anyways ;)

[2017-11-13 20:46] #54 closed

[2017-11-14 16:46] benguild opened #56 "Incorrect handling of IPv6 addresses in some configurations"
Hi, I noticed that this library (along with others) assumes that the port number is always provided in `http.Request.RemoteAddr`

... Because this is an incorrect assumption, this breaks IPv6 on such installations where the port number is NOT provided: https://play.golang.org/p/oFZhZ6BCf3

# Code to demonstrate issue

[code]

# Result:

[code]

It's probably necessary to validate the IPv6 address

[2017-11-14 16:49] benguild commented on #56
An alternative solution (besides commenting out that method to strip out what's after the colon) ... might be to allow the user to provide a BOOL variable in the configuration to say the port is not included.

[2017-11-18 22:33] #53 closed

[2017-11-18 22:36] didip commented on #53
I have released `v3.0.1` for this fix.

[2017-11-18 22:38] benguild commented on #56
The fix in f2c85b55a8706702ab959fca8ae7a5d29a29cf64 isn't going to work: https://play.golang.org/p/ugnk527u-b

As seen here, `net.SplitHostPort` will return an error if it's passed a "RemoteAddr" without a port that's IPv6:

[2017-11-18 22:39] benguild commented on #56
I'm a bit surprised that you decided to ignore the error from that method, as well. That's a really bad idea.

[2017-11-18 22:43] didip commented on #56
What about this?

[code]

[2017-11-18 22:46] benguild commented on #56
Looking at the code for the method: https://golang.org/src/net/ipsock.go?s=4746:4812#L145 ... It appears that might work.

Although it seems a bit delicate considering that new errors could be introduced, currently the two errors I see at first glance are:
- missingPort   = "missing port in address"
- tooManyColons = "too many colons in address"

... Those seem to account for the two cases that th

[2017-11-18 22:48] benguild commented on #56
For comparison, here's how Gin handles this on App Engine and the like: https://github.com/gin-gonic/gin/blob/9a4ecc87d6f8272b8e2450f9c0ab12d3e814521f/context.go#L514

[2017-11-18 22:49] benguild commented on #56
... Would it be possible to just pass in the IP somehow externally?

[2017-11-18 22:50] didip commented on #56
I can cover the app engine as well.

If you want to pass in IP, you can already do so by using `X-Real-IP`

[2017-11-18 22:50] benguild commented on #56
I mean as a struct parameter.

[2017-11-18 22:55] didip commented on #56
Do you always expect the same ip addresses?

[2017-11-18 22:56] benguild commented on #56
No, just thinking aloud about ideas. For example, if there is already code that the user has to get the IP for a request based on their configuration, it would be helpful to override.

[2017-11-18 23:00] didip commented on #56
I see, a function hook seems like a decent idea to let user pick up IP address however they want.

I need to think about it a bit more. In the mean time, I pushed the ipv6 change under `v3.0.2`.

[2017-11-18 23:04] benguild commented on #56
Created: https://github.com/didip/tollbooth_gin/issues/4

[2017-11-20 06:40] zwopir commented on #53
Thanks for the release and the discussion!

[2017-11-27 13:54] rnjailamba opened #57 "where is this throttling data being persisted? To the server i think, any option to make it to something like redis?"

[2017-12-10 12:59] rnjailamba commented on #57
@didip can you please check this.

[2017-12-11 18:19] didip commented on #57
Tollbooth does not store any data into any persistence store.

[2018-01-07 00:10] turt2live opened #58 "Allow floats for the maximum instead of ints"
Currently tollbooth only accepts int64 as the maximum requests per second. Having this be a float instead would allow for more fractional limits, such as 0.2 requests per second (1 request every 5 seconds).

This should be relatively easy considering https://godoc.org/golang.org/x/time/rate#Limit supports floats

[2018-01-25 16:06] anopheles commented on #54
The limit seems to have changed to a float in https://godoc.org/golang.org/x/time/rate is it possible to update your library to allow floats?

[2018-01-25 16:12] rebootcode commented on #58
+1

[2018-01-26 09:43] anopheles commented on #58
@didip
I just added floating point support.
https://github.com/anopheles/tollbooth/commit/09484c62c2b75386a1448ef48a6fa1048b1cd09f

[2018-01-26 18:20] didip commented on #58
@anopheles The fork looks good, wanna send PR? :)

[2018-02-05 04:54] #57 closed

[2018-02-05 05:03] didip commented on #58
v4.0.0 is released to support this. Thanks for the PR!

[2018-02-05 05:03] #58 closed

[2018-03-21 05:24] llonchj opened #61 "how can i use tollboth in a distributed server environment?"
I have several http servers and i want to share access information. how can i do it?
Thanks

[2018-03-29 16:41] Hubro opened #62 "More complex limits"
For my login API endpoint, I want to allow 1 login attempt per second, 5 attempts per hour and 10 attempts per 24 hours.

I have read through the README example and I've looked through the API, and I can't see any way to achieve this. My apologies in advance if I'm just being thick, but is this possible using this library? Would I have to stack 3 levels of the middleware?

Here's where I'm at:

[c

[2018-04-16 06:08] didip commented on #61
@llonchj Sorry for the late reply, somehow GitHub didn't notify me.

What kind of information do you want to share? Tollbooth is stateless by design so that users don't have to use any databases.

[2018-05-06 23:36] justinfx opened #63 "Conditionally limiting bad requestors"
I'm looking through this package documentation, source, and extended middlewares, to try and understand if its possible to conditionally rate limit requestors by IP when they start making bad requests. I've seen #62 talking about implementing a custom `LimitByKeys()` but I was looking for an example of this approach. Ideally I would like to make use of the IP headers and TTL only when I detect a b

[2018-05-08 21:08] marcsantiago commented on #61
@llonchj It wouldn't be so bad to write an interface around

github.com/patrickmn/go-cache

so that Memcache and or Redis is used instead

[2018-05-28 21:30] matbhz opened #64 "Share throttling information between multiple instances of an app"
How can I share throttling information through multiple instances of an app that are managed by a load balancer?

Issue https://github.com/didip/tollbooth/issues/57 answer mentions data is not persisted anywhere, therefore I can't plug a datastore (such as Redis) that would be used as a lookup store for all instances running at the same time.

I have this scenario described above in my current arc

[2018-06-08 15:13] raazcrzy opened #65 "Unable to limit the request"
I am trying out tollbooth to use in my project, but am not able to get the desired behavior.  Below is the middleware I am using. When I set `SetBurst()` to any positive number it never limits the requests, though when I try by setting it to `0` all requests gets blocked. Is there something I am missing out on?
[code]

[2018-06-09 12:55] brentmn commented on #65
Hi @raazcrzy,

The code in your example is initializing a new rate limiter with each request. Instead, `lmt` should be initialized and assigned to `rL` when you create `*RateLimiter`. Then:
[code]

[2018-06-11 06:32] raazcrzy commented on #65
@brentmn thanks for pointing out this silly mistake. Somehow I overlooked it. :+1:

[2018-06-11 06:32] #65 closed

[2018-06-28 07:29] caalberts opened #66 "Ratelimit by header value creates keys using cached values"
Hello! First of all, thanks for the great library. It worked great, until I had to add rate limiting by user id in the request header.

I came across https://github.com/didip/tollbooth/issues/43, however I found that the function `tollbooth.BuildKeys` build keys using existing header values in the cache. Specifically this line:
https://github.com/didip/tollbooth/blob/b10a036da5f05864224ee09432e489

[2018-06-28 16:40] AlexisVisco opened #67 "Why force request only per seconds ?"
Why :
[code]
WHY DID YOU FORCE REQUEST PER SECONDS ?

If i want to limit my page to 10 request per minutes i cant, that's annoying.

[2018-06-28 16:41] #67 closed

[2018-07-10 10:47] octate opened #68 "Dynamically assigning rate-limits"
Hi, I need some clarification on the following things:
 - Is it possible to create dynamic rate limits?
    eg: I would like to change the rate limit while the server is running.
 - Can I have different rate limits for different users?
   eg: I need to have different rate limits per username(basic-auth).

[2018-09-01 14:33] lfaoro opened #70 "Thank you!"
Thank you very much for this package

[2018-10-12 07:57] zhp1254 commented on #62
`if emailLimiterPeer == nil{
		emailLimiterPeer = tollbooth.NewLimiter(1, nil)
	}

	if emailLimiterHour == nil{
		//emailLimiterHour = tollbooth.NewLimiter(0.034, nil)
		emailLimiterHour = tollbooth.NewLimiter(2, nil)
		emailLimiterHour.SetTokenBucketExpirationTTL(1 * time.Hour)
	}

	key := strings.TrimSpace("emailLimiter:"+ctx.FormValue("email"))
	for _, l := range []*limiter.Limiter{emailLimiter

[2018-11-01 03:46] KePeng1019 opened #71 "limit not work as expected"
i create limiter as below:
[code]
and use like this
[code]
sometimes single ip can not request this per second 5 times. even can not request per second 1 times, how can i fix this. any suggestion? thank you

[2018-11-08 13:48] rvdwijngaard commented on #66
I was actually thinking the same; @didip can you please give your comments on this issue?

[2018-11-12 09:59] #71 closed

[2019-06-14 08:53] alexedwards opened #73 "Add go.mod and go.sum files"
What are your views on enabling modules for this repository (i.e. adding the necessary `go.mod` and `go.sum` files) and removing the vendor directory?

[2019-07-09 13:32] jack-chung commented on #66
Agreed the headerValues part of the code looks not right. It's not checking the configured values against the request value, and also not using the request value to build the key.

[2019-07-10 03:19] didip commented on #66
Man, I keep not getting notified over email.

This does look like a bug. I will take a look at it closer.

[2019-07-15 00:51] #66 closed

[2019-07-15 00:53] didip commented on #73
Wow, I am really not getting any email from GitHub.

Yes, eventually this is needed, I just haven't find the time to do it.

[2019-07-15 00:59] didip commented on #66
This is a legitimate bug, see fix SHA above.

[2019-07-22 21:42] jack-chung commented on #66
@didip For the case of a configured header name with no value, the new code puts the header name into the key but no value. I thought it's supposed to include the header value in the request as part of the key? Or did I misunderstand the intended use case?

Example:
If I want to throttle on a header called X-USER-ID, so that each user is bound by a request limit, this is not going to work with the

[2019-07-23 14:02] didip commented on #66
@jack-chung If you only define request header (without values) and if everyone visiting has `X-USER-ID`, then yes, they all limited under the same bucket.

Do you think they should all be limited as individual limit?

[2019-07-23 14:15] didip commented on #70
Aw man, thanks a bunch for saying thank you!

[2019-07-23 14:16] #62 closed

[2019-07-23 14:16] #56 closed

[2019-07-23 14:20] didip commented on #66
`v4.0.2`

[2019-07-23 15:19] jack-chung commented on #66
@didip Yes that's how I see this feature should work, based on the use case I outlined above. Also, this new code still supports the "aggregated limit" use case if needed. Just set the header value to a static value for all users, then it works just like before.

[2019-07-23 15:23] didip commented on #66
Gotcha. That’s implemented now.

[2019-08-01 16:16] Mathiou04 opened #74 "Limit by Context value"
Hey there and thanks for this package!

I am currently trying to do some "user specific rate limiting" but using the BasicAuth mechanism doesn't work as the authentication mechanism I use is JWT.

At the moment, my workaround is to use a middleware that:
- parses the JWT
- extract the informations I need from it
- add a new header to the request that I can then use to decide on the rate limiting

[2019-08-01 16:41] didip commented on #74
Ah, tollbooth was created before context existed, if you would like to create a PR, I’d love to see it.

[2019-08-02 13:40] Mathiou04 commented on #74
Ok great then.
Do you think I should pop a new Limiter attribute (contextValues) or use a single `map[string]*gocache.Cache` struct?

[2019-08-02 17:17] didip commented on #74
new limiter attribute will make it consistent to the rest of the codebase, don't you think?

[2019-08-03 05:45] didip commented on #73
@alexedwards Fixed on v5.

[2019-08-03 05:45] #73 closed

[2019-08-19 13:44] razsh opened #78 "v5 path"
Isn't this https://github.com/didip/tollbooth/blob/master/tollbooth.go#L11-L13
inconsistent with https://github.com/didip/tollbooth/pull/77/files?

[2019-08-19 14:00] #78 closed

[2019-09-14 06:27] dominhtri1995 opened #79 "beego example"
Hi,

Anyone has an example how to use this library with beego ? Thanks

[2019-09-30 01:42] pantianying opened #80 "question:Can limiter discard the path dimension?"
Can we cancel the flow calculation of URL dimension and replace it with a key? In my tests, the default limit count is isolated for each path, but some restful separated urls, such as / user / locate /{userid}/ login, have different paths per request. I need to customize the key to limit the current for such requests, so what should I do?

Looking forward to reply！

[2019-10-11 18:47] TheCodeN00b opened #81 "SetOnLimitReached function doesn't seem to execute"
Hi. I have to say that I am a real beginner on Go, so this may definitely be my fault, but I can't get the `SetOnLimitReached` function to get called. I'm using `tollbooth_httprouter` and this is the code I'm using:

[code]

Thanks in advance.

[2019-11-13 07:58] busyfree commented on #79
You can do it  like this:
[code]

[2019-12-11 22:36] joescharf opened #82 "v5 pulling in v4 module as well"
Using the "Five Minute Tutorial" example from the main page of this repo, (removing the `time` import), and referencing the v5 version of this module also imports the v4.0.2 version of tollbooth as well:

from go.mod:
[code]

I came about this issue when trying to implement `toolbooth_gorestful` and was getting type mismatch errors that differed as a result of the v5 tag:

[code]

It seems the 5.1

[2020-03-26 10:00] lihaotian0607 commented on #62
How did you solve it?

[2020-03-30 13:41] mpe85 commented on #82
@didip I saw this is already fixed in the master branch. Will we see another release soon containing that fix?

[2020-03-30 18:41] didip commented on #82
Published tag 5.1.1

[2020-04-01 12:54] mpe85 commented on #82
Works for me 👍

[2020-04-01 17:58] #82 closed

[2020-05-03 22:15] yakuter opened #83 "How can I set 5 limit in 1 minute?"
Hello, thank you for great plugin. I couldn't figure out how to set max allowed attempts is 5 in 1 minute?

[2020-05-10 09:47] paskal opened #84 "go-cache used for limiter leaking goroutines"
Hi @didip, thanks for your amazing work!

Using [goleak](https://github.com/uber-go/goleak) in [remark42](https://github.com/umputun/remark42) repo I found that we have tons of leaking goroutines in tests from the go-cache package. I've replaced it with internal implementation in [go-pkgz/lcw](https://github.com/go-pkgz/lcw) and switched remark42 to it only to discover that some other dependency o

[2020-05-10 14:43] didip commented on #84
I definitely will accept PRs. It does sound like go-cache is problematic.

[2020-05-10 20:18] paskal commented on #84
[bluele/gcache](https://github.com/bluele/gcache) is a good candidate but it requires specifying a size which is not a thing currently and we would expect it to be unlimited.

I'm trying to find other cache implementation which would have an unlimited size and not rely on goroutines, but I don't know if these two requirements can be satisfied at once.

Exposing `Close` method from limiter feels li

[2020-05-24 18:01] #84 closed

[2020-05-24 18:15] didip commented on #83
The rate limiter is strictly per second basis, so you can multiply by 60: `5* 60`

[2020-05-24 18:15] #83 closed

[2020-05-24 18:17] #61 closed

[2020-05-24 18:18] didip commented on #81
Unable to reproduce because `tollbooth_bug_report_test.go` uses `SetOnLimitReached`. https://github.com/didip/tollbooth/blob/master/tollbooth_bug_report_test.go#L26

[2020-05-24 18:18] #81 closed

[2020-05-24 18:19] didip commented on #80
You unfortunately have to create your own rate-limiting key.

[2020-05-24 18:19] #74 closed

[2020-06-06 07:43] skariel commented on #62
@Hubro @lihaotian0607 @didip

the solution is easy: the wrapping order has to be reversed. This works:
[code]

[2020-09-03 14:17] ioggstream opened #88 "Configurable option for using ratelimit standardization proposal"
## I wish

to be able to support via configuration the following standardization proposal: https://datatracker.ietf.org/doc/html/draft-ietf-httpapi-ratelimit-headers

gh repo: https://github.com/ietf-wg-httpapi/ratelimit-headers

This is currently implemented by envoy-proxy, kong and 3scale.

## The spec

defines 3 ratelimit-headers, returning the current quota, remaining quota and delta-seconds b

[2020-09-07 13:11] daizhihong-kobe commented on #79
这样设置似乎没有用

[2020-10-01 14:29] lboix commented on #70
I agree, amazing work!

[2020-10-03 21:25] jackiereh opened #90 "Question: Not grabbing latest changes"
I've cleared out my entire modcache trying to solve this problem. Whenever I do a `go build`, it gets the pkg but when actually building it, it complains it can't find the new method.
`pkg/server/server.go:153:5: lmt.SetOverrideDefaultResponseWriter undefined (type *limiter.Limiter has no field or method SetOverrideDefaultResponseWriter)`

When I go into the cache it doesn't look to have the newes

[2020-10-04 02:39] didip commented on #90
damn it, I keep forgetting to create a new tag.

[2020-10-04 02:41] didip commented on #90
v6.0.2 is published. You should be able to fetch your changes now.

[2020-10-05 16:38] jackiereh commented on #90
Hey @didip, one last question.
When I do try to pull this down, it seems to always put me back to version 4.0.2.
I've cleared my modcache, and have tried a few things like the following to fix it, but for some reason it won't grab 6.0.2.
`go get -u github.com/didip/tollbooth@v6.0.2`
returned back : `go get github.com/didip/tollbooth@v6.0.2: github.com/didip/tollbooth@v6.0.2: invalid version: modul

[2020-10-05 18:47] didip commented on #90
I think your go.mod version has to be specifically updated to use tollbooth v6.

[2020-10-05 23:16] jackiereh commented on #90
This is probably my fault for not having done this before... but I solved it by adding the version to the actual files I was using it in.
	"github.com/didip/tollbooth/v6"
	"github.com/didip/tollbooth/v6/limiter"

I had original tried to do anything and everything including manually putting it in go.mod, but nothing was working.
But specifying it in the actual .go files I used it in, did the trick.

[2020-10-05 23:16] #90 closed

[2020-10-09 06:36] jasonkwh opened #91 "SetMethod is not working."
Hello there. I followed the guide and do the following:

lmt.SetMethods([]string{"POST"})

But it is not working. The limiter is still limiting the GET and all different kind of requests.

[2020-10-09 09:10] jasonkwh commented on #91
I used tollbooth for my production project and right now it is causing serious problem..

More codes:

func main() {
	lmt := tollbooth.NewLimiter(1, nil)
	lmt.SetMethods([]string{"POST"}).
		SetMessageContentType("application/json; charset=utf-8").
		SetMessage(api.ErrorMessage("You have reached maximum request limit."))
	http.Handle("/", tollbooth.LimitFuncHandler(lmt, checkRequest))
	log.Fatal(h

[2020-12-06 22:41] paskal commented on #88
@didip what do you think? If you want to have it, let me know and I'll work on the MR.

[2020-12-06 22:42] paskal commented on #91
Better later than never, I'll look into it if nobody minds.

[2020-12-07 05:36] didip commented on #91
@paskal Thanks for chipping in, I definitely welcome it.

[2020-12-07 20:59] didip commented on #88
@paskal Yeah, that would be great. However, last I checked the rate limiter library that we use does not expose these numbers.

[2020-12-07 21:00] paskal commented on #88
We need to go deeper then:) I'll investigate that, it might turn out that it's impossible with the current set of APIs.

[2020-12-09 07:14] Zamiell opened #92 "Tollbooth breaks Safari / iOS / iPad / etc."
Both version 4 and the latest version of Tollbooth (version 6) write an empty string to the "X-Rate-Limit-Request-Forwarded-For" header:

-----------

<img src="https://cdn.discordapp.com/attachments/333680903748321282/786126582950395934/unknown.png">

-----------

Safari and iOS hate empty headers and will barf on them, causing any WebSocket connections to be immediately terminated. Thus, I belie

[2020-12-09 07:18] Zamiell commented on #92
I suspect that the fix is something along the lines of:

[code]
-->
[code]

[2020-12-10 17:57] didip commented on #92
This sounds bad, we'll take a look at it.

[2020-12-16 04:20] #92 closed

[2020-12-16 07:58] didip commented on #91
I start working on the fix here: https://github.com/didip/tollbooth/tree/issue91

[2020-12-16 10:54] paskal commented on #91
I have an unusually busy week, if you'll need help with something particular please let me know. Otherwise, I'll look into ratelimit headers issue by tomorrow.

[2020-12-16 21:58] didip commented on #91
@paskal thank you for any of your contributions!

[2020-12-17 17:05] #91 closed

[2020-12-17 17:06] #79 closed

[2020-12-17 18:17] #80 closed

[2020-12-17 18:18] #63 closed

[2020-12-17 18:21] didip commented on #68
1. Unfortunately not, it is not possible to dynamically change rate limit on the fly.
2. I think you can, just nest 2 tollbooth middlewares, one for user A and the other one for user B.

[2020-12-17 18:21] #68 closed

[2020-12-17 18:22] didip commented on #64
This is probably possible with Prometheus/Statsd/Graphite. I hesitate to add a database as a hard requirement.

[2021-01-13 10:51] weiwangchao commented on #61
题主没明白意思，应该是问是否支持redis做分布式整体限流吧？

[2021-06-07 19:05] jacohend commented on #83
@didip I don't understand- wouldn't that mean 5 * 60 per second, then? Don't we need to divide instead?

[2021-07-05 14:34] Enrico204 commented on #88
`setResponseHeaders` apparently returns some of these values (as headers):

* `X-Rate-Limit-Limit` which can be mapped 1:1 to `RateLimit-Limit` , the corresponding value is from `Limiter.GetMax()`
* `X-Rate-Limit-Duration` is currently hard-coded to `1`, this can be mapped to the optional `quota-policy` part of `RateLimit-Limit` value
* The `RateLimit-Reset` might be hard-coded to `1` for now (see

[2021-08-06 08:26] tobias-kuendig commented on #83
For anyone wondering:

[code]

works like a charm :ok_hand:

[2021-09-14 14:34] MarlikAlmighty opened #94 "Token limiting does not work."
Sample code:

[code]

[2021-11-20 14:00] paskal commented on #88
The problem I saw when I started working on implementation is in LimitByRequest: code checks limits by multiple keys:

https://github.com/didip/tollbooth/blob/81303df34291efeac254b8aa89db677fb03309de/tollbooth.go#L283-L288

I think I'll go with counting the leftover limit for each of the keys and returning the lowest limit among all, which would be the source of truth for knowing how many requests

[2021-11-21 08:13] ioggstream commented on #88
@paskal me ad @unleashed Will have a look at the implementation and provide feedback on managing multiple keys.

[2021-11-30 17:35] paskal commented on #88
@ioggstream, please let me know once you will look into it, I'll proceed then.

[2021-12-01 09:16] ioggstream commented on #88
@paskal mention tollbooth in https://github.com/ietf-wg-httpapi/ratelimit-headers/issues/25

[2022-03-10 15:48] PrimaryCY commented on #94
I have the same problem

[2022-05-12 20:40] paskal commented on #94
I've tried to test it naively, and rate-limiting was skipped unless I provided the `X-Access-Token` header with a value set to `abc123` or `abc456`. I guess the problem you are having is unexpected results of the `SetHeader` call, am I right?

[2022-07-04 01:41] #88 closed

[2022-08-22 00:09] FloatingSunfish opened #102 "Question: How to Limit Max Number of Requests Per Hour"
I'm new to rate limiting and want to use `tollbooth` to limit HTTP requests.

I also read the ***[Token Bucket Algorithm][1]*** page on Wikipedia.

For a simple test app, I want to limit the max number of concurrent requests to `10` *regardless* of request IP, and have a max burst size of `3` *based* on request IP.

***NOTE:*** The `10` and `3` are just to make rate limiting easier to observe.

Be

[2022-08-22 02:19] FloatingSunfish commented on #102
I got a great answer [here](https://stackoverflow.com/questions/73439068/limit-max-number-of-requests-per-hour-with-didip-tollbooth).

[2022-08-22 02:19] #102 closed

[2022-09-19 05:14] Xinyu-bot opened #103 "Different behavior on limiting based on header key for v4.0.2 and v7"
Hi there, let me get to the problem directly.

Code I wrote is like:
[code]
while `LimitHandlerFunc` is defined as below. The code was taken from https://github.com/didip/tollbooth_gin/blob/master/tollbooth_gin.go, and I only changed the package imported to v7.
[code]

The original idea is to limit the request sent by every single user, so the expected behavior here is that as long as a request co

[2022-09-22 02:10] #103 closed